<ion-header>
    <ion-toolbar>
        <ion-title slot="start">Magic Mirror</ion-title>
        <ion-input placeholder="Enter mirror code" id="mirroCodeInput" type="text" [(ngModel)]="mirrorCode"
                   (change)="mirrorCodeCheck()"></ion-input>
        <ion-button slot="end" shape="round" color="primary" (click)="addMirror()" disabled="{{codeIsValid}}">+
        </ion-button>
        <ion-icon slot="end" name="log-out" (click)="user.callLogout()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list id="mirror-list"></ion-list>
    <ion-button (click)="deleteAllMirrors()">Delete All</ion-button>
</ion-content>