// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.card-arrow{
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: var( --ion-color-secondary-shade);
  color: white;
  ion-icon{
    margin-top: 50%;
    font-size: 2rem;
  }
}
ion-card {

  ion-card-title{
    color: var(--ion-title-color);
  }
  ion-card-subtitle{
    color: var(--ion-color-secondary-contrast);
  }
  background: var(--ion-color-secondary) !important;
  --bg: #34495e!important;
  --bg-rgb: 52,73,94!important;

}
